<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/style.css">

<body>
  <div class="container">


    <h2>Greet</h2>

    <div class="row">
      <form action="/greet" method="POST">
        <div class="six columns">
          <label class="">
            <input type="text" class="Text" value="" placeholder="Your Name">
            <span class="peopleCount">0</span>
            <br>
            <input type="radio" name="languageType" class="language" value="Eng">
            <span class="label-body">English</span>
          </label>
          <label class="">
            <input type="radio" name="languageType" class="language" value="Xho">
            <span class="label-body">Isixhosa</span>
          </label>
          <label class="">
            <input type="radio" name="languageType" class="language" value="Afri">
            <span class="label-body">Afrikaans</span>
          </label>
          <button class="button-primary GreetBtn" type="submit" name="button">Greet</button>
      </form>
      <span class="output"></span>




      <br>
      
      <button class="button-primary Reset" type="button" name="button">Reset</button>
      </div>

    </div>

  </div>
  </div>

</body>
<script src="js/greet-logic.js" charset="utf-8"></script>
<script src="js/greet.js" charset="utf-8"></script>

</html>