<div class='container'>
    <h1>People Greeted</h1>

    <table>
        <tr>
            <th>
                Names
            </th>
        </tr>
        {{#each greetedUser}}
            <tr>
                <td>
                  <a href="http:/"> {{user_name}} </a>  has been greeted
                </td>
            </tr>
        {{/each}}
    </table>