<div class='container'>
    <h1>People Greeted</h1>
    

      <table>
        <tr>
            <th>id</th>
            <th>users greeted</th>
            <th>how many times</th>
        </tr>
        {{#each greetedUser}}
        <tr>
            <td>{{id}}</td>
            <td>{{user_name}}</td>
            <td>{{count}}</td>
        </tr>
        {{/each}}

    </table>
</div>