<div class='container'>
    <h1>People Greeted</h1>
<form action="/home" method="POST">
      <button class="button-primary" type="submit" name="button">Home</button> </form>


      <table>
        <tr>
            
            <th>users greeted</th>
            <th>how many times</th>
        </tr>
        {{#each greetedUser}}
        <tr>
           
            <td>{{user_name}}</td>
            <td>{{count}}</td>
        </tr>
        {{/each}}

    </table>
    <form action="/resetDB" method="POST">
      <button class="button-primary" type="submit" name="button">Reset</button> </form>

</div>