<div class="container">


  <h2>Greet</h2>

  <div class="row">
    <form action="/greet" method="POST">
      <div class="six columns">
        <label class="">
          <input name="name" type="text" class="Text" value="" placeholder="Your Name"> <span class="peopleCount"> Count:</span>  {{greetings.count}}

          <br>
          <input type="radio" name="language" class="language" value="Eng">
          <span class="label-body">English</span>
        </label>
        <label class="">
          <input type="radio" name="language" class="language" value="Xho">
          <span class="label-body">Isixhosa</span>
        </label>
        <label class="">
          <input type="radio" name="language" class="language" value="Afri">
          <span class="label-body">Afrikaans</span>
        </label>

        <button class="button-primary GreetBtn" type="submit" name="button">Greet</button>
    </form>


    <form action="/reset" method="POST">
      <button class="button-primary" type="submit" name="button">Reset</button> </form>

   

    <span class="output"> {{greetings.message}} </span>
    


    {{#if messages.info}}
    <div class="entry">
      {{messages.info}}
    </div>
    {{/if}}


    <br>

    <a href="/greeted">Users greeted</a>
    </div>

  </div>

</div>
</div>