
body{
    background-color: grey ;
    align-content: center;
    background-image: url('pictures/caryle-barton-56255-unsplash.jpg');

}

.container{

  background-image: url('pictures/caryle-barton-56255-unsplash.jpg');

  width: auto;

}
